<div class="message">

  <div class="content">
  </div>
</div>


<div class="message">
  <div class="profile">
    <a class="pull-left" href="#">
      <img class="media-object img-circle" src="<%= avatar %>">
    </a>
    <span class="speaker">@<%= name %></span>
  </div>
  <div class="media">
    <div class="content-body">
    </div>
  </div>
  <div class="time">
    <small class="text-muted"><%= time %></small>
  </div>
</div>
