<div class="message">
  <div class="profile">
    <a class="pull-left avatar-wrapper" href="#">
      <img class="media-object img-circle" src="<%= avatar %>" />
    </a>
    <span class="speaker"><b><%= name %></b> <span class='time'><%= time %></span>
  </div>

  <div class="content-body">
  </div>

  <div style='clear:both'></div>
</div>
